body {
	padding-top: 70px;
	background: url(https://images.wallpapersden.com/image/download/huawei-4k-stock-abstract_66336_1920x1080.jpg);
	background-size: cover;
	background-position: center;
}
html{
	height:100	;
}